.m_mean {
  li {
    height:42px;
  }
  a {
    display: inline-block;
    color:#5a5a5a;
    height:42px;
    line-height:42px;
    padding:0 10px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.m_setalpm {
  width:120px;
  height:120px;
  background:url(../images/spacer.gif) no-repeat;
}

.m_user {
  float:right;
  box-shadow: 0 0 2px 1px #1D1D1D;
  width:100%;
  box-sizing: border-box;
  .title {
    line-height:50px;
    font-size:22px;
    text-indent:20px;
    i {
      display: inline-block;
      width:5px;
      height:22px;
      background:orange;
      vertical-align: middle;
      margin-right:10px;
      color:#999;
    }
  }
  .box {
    padding-left:20px;
    input{
      width:200px;
      height:30px;
      line-height:30px;
      padding-left:20px;
      margin-bottom:20px;
      border:solid 1px #999;
      outline: none;
    }
    .user {
    }
    button {
      width:100%;
      line-height:35px;
      background:orange;
      border:none;
      color:#fff;
      font-size:18px;
      outline: none;
    }
  }
  .tips {
    line-height:30px;
    font-size:12px;
    color:#333;
    text-indent:20px;
    a {
      color:blue;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .hint {
    line-height:30px;
    font-size:12px;
    color:red;
    text-indent:20px;
    text-align:center;
  }
  .userInfo {
    padding-left:20px;
    line-height:28px;
    font-size:16px;
    em {
      color:#F17102;
      margin-right:8px;
    }
    a {
      text-decoration: none;
      color:blue;
      margin-right:10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}