<!DOCTYPE html>
<html>
<head>
    <title>House</title>
    <!-- ======== META TAGS ======== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="House. Responsive Template.">
    <meta name="keywords" content="my, tags">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ======== / META TAGS ======== -->
    <!-- ======== STYLESHEETS ======== -->
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/lightbox.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Alike" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <noscript>

    </noscript>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="http://house.studio-themes.com/assets/css/ie.css">
    <![endif]-->
    <!-- ======== / STYLESHEETS ======== -->
    <!-- ======== STANDARD SCRIPTS ======== -->
    <script src="/assets/js/jquery.js"></script>
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.js"></script>
    <![endif]-->
    <!-- ======== / STANDARD SCRIPTS ======== -->
</head>
<body>

<div id="preloader"></div>
<div id="page-container">
    <header id="home" class="header-style-1 sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <div id="logo-container">
                        <div class="tb">
                            <div class="tb-cell">
                                <a href="index.html">
                                    <img src="/assets/img/logo.png" class="standard-logo" alt="">
                                </a>
                            </div>
                        </div>
                        <div id="mobile-button">
                            <hr><hr><hr>
                        </div>
                    </div>
                    <div id="menu-container">
                        <nav>
                            <ul class="clearfix">
                                <li class="current-menu-item"><a href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li class="current-menu-item"><a href="index.html">Default - Right Sidebar</a></li>
                                        <li><a href="left_sidebar.html">Default - Left Sidebar</a></li>
                                        <li><a href="no_sidebar.html">Default - No Sidebar</a></li>
                                        <li><a href="masonry_2col.html">Masonry - 2 columns</a></li>
                                        <li><a href="masonry_2col_ns.html">Masonry - 2 columns (no sidebar)</a></li>
                                        <li><a href="masonry_3col_ns.html">Masonry - 3 columns (no sidebar)</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Headers</a>
                                    <ul class="sub-menu">
                                        <li><a href="header_style2.html">Header Style 2</a></li>
                                        <li><a href="header_style3.html">Header Style 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Posts</a>
                                    <ul class="sub-menu">
                                        <li><a href="single.html">Standard</a></li>
                                        <li><a href="single_slideshow.html">Slideshow</a></li>
                                        <li><a href="single_quote.html">Quote</a></li>
                                        <li><a href="single_link.html">Link</a></li>
                                        <li><a href="single_video.html">Video</a></li>
                                        <li><a href="single_audio.html">Audio</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Category</a>
                                    <ul class="sub-menu">
                                        <li><a href="category_travel.html">Travel</a></li>
                                        <li><a href="category_lifestyle.html">Lifestyle</a></li>
                                        <li><a href="category_video.html">Video</a></li>
                                        <li><a href="category_music.html">Music</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Mega Menu</a>
                                    <ul class="ubermenu-submenu">
                                        <li>
                                            <ul class="ubermenu-tabs-group">
                                                <li class="ubermenu-active"><a href="#">Travel</a>
                                                    <ul class="ubermenu-tab-content-panel">
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/1.jpg" alt=""></a>
                                                            <p><a href="#">amet tincidut mi nunc</a></p>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/2.jpg" alt=""></a>
                                                            <p><a href="#">imperdiet eget augue</a></p>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/3.jpg" alt=""></a>
                                                            <p><a href="#">placerat ac elit eu</a></p>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Lifestyle</a>
                                                    <ul class="ubermenu-tab-content-panel">
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/4.jpg" alt=""></a>
                                                            <p><a href="#">imperdiet eget augue</a></p>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/5.jpg" alt=""></a>
                                                            <p><a href="#">amet tincidut mi nunc</a></p>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/6.jpg" alt=""></a>
                                                            <p><a href="#">placerat ac elit eu</a></p>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">People</a>
                                                    <ul class="ubermenu-tab-content-panel">
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/7.jpg" alt=""></a>
                                                            <p><a href="#">placerat ac elit eu</a></p>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/8.jpg" alt=""></a>
                                                            <p><a href="#">imperdiet eget augue</a></p>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/9.jpg" alt=""></a>
                                                            <p><a href="#">amet tincidut mi nunc</a></p>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Video</a>
                                                    <ul class="ubermenu-tab-content-panel">
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/10.jpg" alt=""></a>
                                                            <p><a href="#">amet tincidut mi nunc</a></p>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/11.jpg" alt=""></a>
                                                            <p><a href="#">placerat ac elit eu</a></p>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/12.jpg" alt=""></a>
                                                            <p><a href="#">imperdiet eget augue</a></p>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Music</a>
                                                    <ul class="ubermenu-tab-content-panel">
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/13.jpg" alt=""></a>
                                                            <p><a href="#">amet tincidut mi nunc</a></p>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/14.jpg" alt=""></a>
                                                            <p><a href="#">imperdiet eget augue</a></p>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="/assets/img/megamenu/15.jpg" alt=""></a>
                                                            <p><a href="#">placerat ac elit eu</a></p>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Me</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="section-featured" class="clearfix">
        <div id="prev-owl">
            <i class="fa fa-chevron-left"></i>
        </div>
        <div id="next-owl">
            <i class="fa fa-chevron-right"></i>
        </div>
        <div id="featured">
            <div>
                <a href="#"><img src="/assets/img/slider/1.jpg" alt=""></a>
                <span>Donec sed velit consectetur</span>
            </div>
            <div>
                <a href="#"><img src="/assets/img/slider/2.jpg" alt=""></a>
                <span>Donec sed velit consectetur</span>
            </div>
            <div>
                <a href="#"><img src="/assets/img/slider/3.jpg" alt=""></a>
                <span>Donec sed velit consectetur</span>
            </div>
            <div>
                <a href="#"><img src="/assets/img/slider/4.jpg" alt=""></a>
                <span>Donec sed velit consectetur</span>
            </div>
            <div>
                <a href="#"><img src="/assets/img/slider/5.jpg" alt=""></a>
                <span>Donec sed velit consectetur</span>
            </div>
            <div>
                <a href="#"><img src="/assets/img/slider/6.jpg" alt=""></a>
                <span>Donec sed velit consectetur</span>
            </div>
            <div>
                <a href="#"><img src="/assets/img/slider/7.jpg" alt=""></a>
                <span>Donec sed velit consectetur</span>
            </div>
        </div>
    </section>
    <section id="page">
        <div class="container">
            <div class="row">